/* Manhattan JS specific styles

brand colors
dark blue: #485367;
red: #e33e57;
lt blue: #c7e6d7;
white: #fff;

*/
body {
  background-color: #485367;
  background-image: url("../img/manhattan-js-logo.svg");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  font-family: 'Quattrocento', georgia, serif;
}
@media screen and (max-width: 770px) {
  body {
    background-image: none;
  }
}

.small-logo {
  display: none;
}

@media screen and (max-width: 770px) {
  .small-logo {
    display: inline;
    margin-right: 4px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #e33e57;
}

.wordmark {
  display: inline-block;
  position: relative;
  top: 16px;
}



h1, h2, h3 {
  font-family: 'Raleway', helvetica, sans-serif;
  line-height: 1.2em;
}

p {
  line-height: 1.4em;
}

.main article {
  color: #fff;
  width: 80%;
}

.speakers {
  margin-top: 20px;
}

.speaker {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  margin-right: 4%;
}

@media screen and (max-width: 600px) {
  .speakers {
    margin: 40px 0;
  }
  .speaker {
    display: block;
    width: 100%;
  }
}

.next-event {
  color: #fff;
  line-height: 1.2em;
  font-family: 'Raleway', helvetica, sans-serif;
}

.time,
.tickets-link {
  color: #c7e6d7;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Raleway', helvetica, sans-serif;
}

a.tickets-link:hover {
  color: #e33e57;
}

.charity-copy {
  color: #fff;
  font-size: 12px;
  margin: 0;
}

.sold-out-copy {
  color: #fff;
}

.sold-out-copy a {
  color: #c7e6d7;
}

.sold-out-copy a:hover {
  color: #e33e57
}

.speaker-name {
  margin-bottom: 0;
}

.time {
  margin-bottom: -10px;
}

.sponsors-container{
  background-color: #fff;
  padding: 0 20px;
}

.sponsors-container h1{
  text-align: center;
  margin: 0 0 .5em 0;
}

.sponsor-images img{
  width: 250px;
  margin:auto;

}

.email {
  color: #e33e57;
}

.sponsor-images {
  margin: 0 auto;
  text-align: center;
}

.sponsor-inquiry p {
  text-align: center;
  color: #2d343d;
  padding: 20px 0;
  margin-bottom: 0;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #485367, #c7e6d7, #485367);
  background-image:    -moz-linear-gradient(left, #485367, #c7e6d7, #485367);
  background-image:     -ms-linear-gradient(left, #485367, #c7e6d7, #485367);
  background-image:      -o-linear-gradient(left, #485367, #c7e6d7, #485367);
}
.footer-container {
  font-size: .8em;
  line-height: 1.5em;
  padding: 15px 0;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.footer-container footer,
.footer-container footer a  {
  color: #7385a0;
}

.footer-container footer a:hover {
  color: #e33e57;
}
