/* Manhattan JS specific styles

brand colors
dark blue: #485367;
red: #e33e57;
lt blue: #c7e6d7;
white: #fff;

*/
body {
  background-color: #485367;
  background-image: url("../img/manhattan-js-logo.svg");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}

.main article {
  color: #fff;
  width: 80%;
}

.speaker {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  margin-right: 4%;
}

.next-event {
  color: #fff;
  line-height: 1.2em;
  font-family: 'Raleway', helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #e33e57;
}

.wordmark {
  display: block;
}

h1, h2, h3 {
  font-family: 'Raleway', helvetica, sans-serif;
}

.time,
.tickets,
.tickets a {
  color: #c7e6d7;
}

.tickets a:hover {
  color: #e33e57;
}

.charity {
  color: #fff;
}

.time {
  margin-bottom: -10px;
}

.sponsors-container{
  background-color: #fff;
  height: 262px;
}

.sponsors-container h1{
  text-align: center;
}

#se-logo {
  padding-left: 356px;
}

#ec-logo {
  padding-left: 50px;
}

.sponsor-images img{
  width: 250px;
  margin:auto;
}

.sponsor-inquiry a{
  color: #62738c;
  text-decoration: none;
}

.sponsor-inquiry a:hover {
  color: #e33e57;
}

.sponsor-inquiry p{
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #485367, #c7e6d7, #485367);
  background-image:    -moz-linear-gradient(left, #485367, #c7e6d7, #485367);
  background-image:     -ms-linear-gradient(left, #485367, #c7e6d7, #485367);
  background-image:      -o-linear-gradient(left, #485367, #c7e6d7, #485367);
}
.footer-container {
  font-size: .8em;
  padding: 5px 0;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.footer-container footer,
.footer-container footer a  {
  color: #62738c;
}

.footer-container footer a:hover {
  color: #fff;
}