<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/embersherpa" target="_blank">
      <h2 class="speaker-name">Ember Sherpa</h2>
      Tweets about Ember.js libraries
      <br>
      @embersherpa
    </a>
    <p>Ember is for Designers</p>
  </article>
  <article class="speaker">
    <a href="https://twitter.com/saturnism" target="_blank">
      <h2 class="speaker-name">Ray Tsang</h2>
      Cloud Developer Advocate at Google<br>
      @saturnism
    </a>
    <p>Firebase</p>
  </article>
  <article class="speaker">
    <a href="https://twitter.com/zeigenvector" target="_blank">
      <h2 class="speaker-name">Jenna Zeigen</h2>
      JavaScript Princess at Digital Ocean<br>
      @zeigenvector
    </a>
    <p>How We Process Puns</p>
  </article>
</section>
