<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/hypirlink" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Byron Hulcher</h2>
      <h3 class="speaker-sub-info">@hypirlink</h3>
    </a>
    <h3 class="speaker-sub-info">Full Stack Engineer at Meetup</h3>
    <p>So It Goes: Kurt Vonnegut on Project Management</p>
  </article>

  <article class="speaker">
    <div class="speaker-name-twitter">
      <a href="https://twitter.com/bhstahl" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Ben Stahl</h2>
      <h3 class="speaker-sub-info">@bhstahl</h3>
    </a>
    <h3 class="speaker-sub-info">Application Engineer at Vimeo</h3>
    <p>Networking in ES6</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/dtetto" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Donald Tetto</h2>
      <h3 class="speaker-sub-info">@dtetto</h3>
    </a>
    <h3 class="speaker-sub-info">Front End Engineer at Bustle</h3>
    <p>Flower</p>
  </article>
</section>
