@import "variables";

html {
  font-family: $body-font;
  font-size: 1em;
  line-height: 1.5em;
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $red;
  }
}

h1, h2, h3 {
  font-family: $header-font;
  line-height: 1.3em;
}

p {
  line-height: 1.5em;
}