@import "variables";

.speakers {
  margin-top: 20px;

  @include breakpoint(small) {
    .speakers {
      margin: 40px 0;
    }
  }
}

.speaker {
  display: inline-block;
  margin-right: 3%;
  vertical-align: top;
  width: 29%;

  a {
    font-family: $header-font;
    font-size: 1.1rem;
  }

  @include breakpoint(medium) {
    display: block;
    width: 100%;
  }
}

.next-event {
  color: $white;
  margin: 3em 0;

  h1 {
    font-family: $header-font;
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.charity-copy {
  color: $white;
  font-size: 12px;
  margin: 0;
}

.time,
.tickets-link {
  color: $light-blue;
  font-family: $header-font;
  font-size: 1.8em;
  font-weight: bold;
}

.tickets-link-container {
  @include breakpoint(medium) {
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-bottom: 3em;
    margin: 3em 0;
  }
}

a.tickets-link:hover {
  color: $red;
}

.sold-out-copy {
  color: $white;
}

.sold-out-copy a {
  color: $light-blue;

  &:hover {
    color: $red;
  }
}

.speaker-name {
  margin-bottom: 0;
}

.time {
  margin-bottom: -10px;
}
