// Colors
$medium-blue: #485367;
$red: #e33e57;
$light-blue: #c7e6d7;
$white: #fff;
$dark-blue: #2d343d;
$footer-copy: #7385a0;

// Fonts
$header-font: 'Raleway', helvetica, sans-serif;
$body-font: 'Quattrocento', georgia, serif;

// Media Queries
@mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 770px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 600px)  { @content; }
  }
}
