<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title">Jane Kim</p>
      <time>7:30pm</time>
    </div>
  </div>
  
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
        <a href="https://twitter.com/southpolesteve" target="_blank" class="speaker-info">
          <p>Steve Faulkner</p>
        </a>
        <p class="speaker-sub-info">Director of Engineering @Bustle</p>
      <p class="speaker-talk-title">The Hitchhiker's Guide to Serverless</p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title">Adam Sontag</p>
      <time>7:55pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/milkmusket" target="_blank" class="speaker-info">
        <p>Tina Gong</p>
      </a>
      <p class="speaker-sub-info">Creator of @gttarot & @happyplaytime</p>
      <p class="speaker-talk-title">Make Magic Real Again</p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">TBD</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/sarajchipps" target="_blank" class="speaker-info">
        <p>Sara J Chipps</p>
      </a>
      <p class="speaker-sub-info">CEO @jewelbots</p>
      <p class="speaker-talk-title">How To Crossstich With The Internet</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="http://flatironlounge.com/#/home/" target="_blank" class="speaker-talk-title">Flatiron Lounge</a>
      <time>9:20pm</time>
    </div>
  </div>
</section>

{% include sponsors/october-2016.html %}


