<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title">Nathan Stilwell</p>
      <time>7:30</time>
    </div>
  </div>
  
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
        <a href="https://twitter.com/jennwrites" target="_blank" class="speaker-info">
          <p>Neville Samuell  &raquo; @nsamuell</p>
        </a>
        <p class="speaker-sub-info">Engineer @Pathgather, Ruby/Javascript/C++ Developer, and Vim Ninja (in training)</p>
      <p class="speaker-talk-title">Thinking in Graphs with React Relay</p>
      <time>7:40</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title">Adam J. Sontag</p>
      <time>7:55pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/meyerini" target="_blank" class="speaker-info">
        <p>Cory Forsyth &raquo; @bantic</p>
      </a>
      <p class="speaker-sub-info">emberjs consulting thru 201-created.com, ITP adjunct professor, co-organizer of @goruco</p>
      <p class="speaker-talk-title">Simple Ways of Using Extensions to Bend the Browser to Your Will</p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">TBD</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/janecakemaster" target="_blank" class="speaker-info">
        <p>Miriam Nadler &raquo; @antimytheme</p>
      </a>
      <p class="speaker-sub-info">Front-End Dev @VoxProduct</p>
      <p class="speaker-talk-title">Pinball Wizardry</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <p class="speaker-talk-title">Tonight our post event hangout space is <a href="https://www.google.com/maps/place/The+Tippler/@40.742258,-74.006111,15z/data=!4m2!3m1!1s0x0:0xe59082d159b965?sa=X&ved=0ahUKEwjXlpGC0tfLAhXE7D4KHZgKC5IQ_BIIiQEwDQ" target="_blank" class="external-link">The Tippler</a>! See you there.</p>
      <time>9:20pm</time>
    </div>
  </div>
</section>

{% include sponsors/april-2016.html %}

