<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-sub-info">TBD</p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/yoshuawuyts" target="_blank" class="speaker-info">
        <p>Yoshua Wuyts</p>
      </a>
      <p class="speaker-sub-info">Engineer</p>
      <p class="speaker-talk-title">CHOOO</p>

      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <a href="https://twitter.com/ajpiano" target="_blank" class="speaker-info">
        <p>Adam Sontag</p>
      </a>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/tomdale" target="_blank" class="speaker-info">
        <p>Tom Dale</p>
      </a>
      <p class="speaker-sub-info">Senior Staff Software Engineer at LinkedIn</p>
      <p class="speaker-talk-title">Glimmer.js</p>

      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/2n_Design" target="_blank" class="speaker-info">
        <p>Jeremy Blount</p>
      </a>
      <p class="speaker-sub-info"></p>
      <p class="speaker-talk-title">VR</p>

      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://goo.gl/maps/iHu37ju2po22" target="_blank" class="speaker-info">
        The Wren
      </a>
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/october-2017.html %}
