<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-sub-info">TBD</p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/noopkat" target="_blank" class="speaker-info">
        <p>Suz Hinton</p>
      </a>
      <p class="speaker-sub-info">Software Engineer</p>
      <p class="speaker-talk-title">Unpacking the Hype of Machine Learning</p>

      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <a href="https://twitter.com/dcousineau" target="_blank" class="speaker-info">
        <p>Daniel Cousineau</p>
      </a>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="#" target="_blank" class="speaker-info">
        <p>TBA</p>
      </a>
      <p class="speaker-sub-info">Software Engineer</p>
      <p class="speaker-talk-title">TBA</p>

      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="#" target="_blank" class="speaker-info">
        <p>William Field</p>
      </a>
      <p class="speaker-sub-info">Software Engineer</p>
      <p class="speaker-talk-title">explore.js</p>

      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://www.google.com/maps/place/Iron+Bar+%26+Lounge/@40.7592179,-73.9888315,18z/data=!4m12!1m6!3m5!1s0x89c258534c8e840d:0xad80db4f46794508!2sBounce+Exchange!8m2!3d40.7561313!4d-73.9903555!3m4!1s0x0:0x8cb9d0e44c8c0b0d!8m2!3d40.7591468!4d-73.9886398" target="_blank" class="speaker-info">
        Iron Bar &amp; Lounge
      </a>
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/august-2017.html %}
