<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/bahmutov" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Gleb Bahmutov</h2>
      <h3 class="speaker-sub-info">@bahmutov</h3>
    </a>
    <h3 class="speaker-sub-info">Software Engineer at Kensho</h3>
    <p>Writing Robust and Powerful Angular Applications</p>
  </article>

  <article class="speaker">
    <div class="speaker-name-twitter">
      <a href="https://twitter.com/adekunleoduye" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Adekunle Oduye</h2>
      <h3 class="speaker-sub-info">@adekunleoduye</h3>
    </a>
    <h3 class="speaker-sub-info">Product Designer at NASDAQ</h3>
    <p>The Recipe for Building a Great Prototype</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/lachlanhardy" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Lachlan Hardy</h2>
      <h3 class="speaker-sub-info">@lachlanhardy</h3>
    </a>
    <h3 class="speaker-sub-info">Head of Engineering at Neo</h3>
    <p>Developer Culture That Doesn't Suck</p>
  </article>
</section>
