<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/praxxis" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Lindsey Smith</h2>
      <h3 class="speaker-sub-info">@praxxis</h3>
    </a>
    <h3 class="speaker-sub-info">Workin' on code at Kickstarter</h3>
    <p>Integrating Ember with your existing Rails app - it is possible!</p>
  </article>

  <article class="speaker">
    <div class="speaker-name-twitter">
      <a href="https://twitter.com/ughitsaaron" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Aaron Petcoff</h2>
      <h3 class="speaker-sub-info">@ughitsaaron</h3>
    </a>
    <h3 class="speaker-sub-info">Web Developer at New York Magazine</h3>
    <p>Getting Started with ES6 Modules</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/lukemelia" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Luke Melia</h2>
      <h3 class="speaker-sub-info">@lukemelia</h3>
    </a>
    <h3 class="speaker-sub-info">Co-founder of Yapp</h3>
    <p>Parkour!</p>
  </article>
</section>
