<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
        <a href="https://twitter.com/tazsingh" target="_blank" class="speaker-info">
          <p>Tasveer Singh &raquo; @tazsingh</p>
        </a>
      <p class="speaker-sub-info">CTO at HoodQReports/Organizer of TorontoJS</p>
      <p class="speaker-talk-title">Routing Like It's 1999</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title">TBD</p>
      <time>7:45pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/jedschmidt" target="_blank" class="speaker-info">
        <p>Jed Schmidt &raquo; @jedschmidt</p>
      </a>
      <p class="speaker-sub-info">Uniqlo USA Mobile Web Nerd</p>
      <p class="speaker-talk-title">Framework in the Sheets, Vanilla in the Streets</p>
      <time>7:55pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title">TBD</p>
      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/jeresig" target="_blank" class="speaker-info">
        <p>John Resig &raquo; @jeresig</p>
      </a>
      <p class="speaker-sub-info">Creator of jQuery</p>
      <p class="speaker-talk-title">Less is More: Making Khan Academy Load Faster</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Adam J Sontag &amp; Willman Duffy</p>
      <time>8:35pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/dcousineau" target="_blank" class="speaker-info">
        <p class="speaker-name">Daniel Cousineau &raquo; @dcousineau</p>
      </a>
      <p class="speaker-sub-info">Croscon's Resident HTTPster</p>
      <p class="speaker-talk-title">YAFT</p>
      <time>8:45pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <p class="speaker-talk-title">Tonight our post event hangout space is <a href="https://www.google.com/maps?ion=1&espv=2&q=toad+hall&bav=on.2,or.r_cp.&biw=1422&bih=778&dpr=1.8&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiZgZ7KnMbKAhVEGD4KHS1fD0cQ_AUIBigB" target="_blank" class="external-link">Toad Hall</a>! See you there.</p>
      <time>9:00pm</time>
    </div>
  </div>
</section>

{% include sponsors/feb-2016.html %}
