<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <a href="https://twitter.com/dcousineau" target="_blank" class="speaker-info">
        <p>Daniel Cousineau</p>
      </a>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/evejweinberg" target="_blank" class="speaker-info">
        <p>Eve Weinberg</p>
      </a>
      <p class="speaker-sub-info">Motion Graphics Director</p>
      <p class="speaker-talk-title">UX x Motion Graphics</p>

      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <a href="https://twitter.com/ajpiano" target="_blank" class="speaker-info">
        <p>Adam Sontag</p>
      </a>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/jamessocol" target="_blank" class="speaker-info">
        <p>James Socol</p>
      </a>
      <p class="speaker-sub-info">Director of Engineering</p>
      <p class="speaker-talk-title">The Pyramid of Great Docs</p>

      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/ArelEnglish" target="_blank" class="speaker-info">
        <p>Arel English</p>
      </a>
      <p class="speaker-sub-info">PM &amp; Software Developer</p>
      <p class="speaker-talk-title">Taking Flight</p>

      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://www.google.com/maps/place/Houston+Hall/@40.728695,-74.006939,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259929e428991:0x11811d1d5ac50cb9!8m2!3d40.728695!4d-74.004745" target="_blank" class="speaker-info">
        Houston Hall
      </a>
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/april-2017.html %}
