<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-info">TBD</p>
      <!--
      <a href="https://twitter.com/janecakemaster" target="_blank" class="speaker-info">
        <p>TBD</p>
      </a>
      -->
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="speaker-info">TBD</p>
      <!--
        <a href="https://twitter.com/vaidehijoshi" target="_blank" class="speaker-info">
          <p>Vaidehi Joshi</p>
        </a>
        <p class="speaker-sub-info">Software Engineer @imprintgift</p>
      <p class="speaker-talk-title">Hexes & The Magic of Base 16</p>
      -->
      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-info">TBD</p>
      <!--
      <a href="https://twitter.com/ajpiano" target="_blank" class="speaker-info">
        <p>Adam Sontag</p>
      </a>
      -->
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="speaker-info">TBD</p>
      <!--
      <a href="https://twitter.com/mani_art" target="_blank" class="speaker-info">
        <p>Mani Nilchiani</p>
      </a>
      <p class="speaker-sub-info">Writes Code @Yieldmo</p>
      <p class="speaker-talk-title">Diffy.js</p>
      -->
      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="speaker-info">TBD</p>
      <!--
      <a href="https://twitter.com/brendamarienyc" target="_blank" class="speaker-info">
        <p>Brenda Storer</p>
      </a>
      <p class="speaker-sub-info">Designer & Front End Developer @thoughtbot</p>
      <p class="speaker-talk-title">Pen Pals</p>
      -->
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <p class="speaker-talk-title">TBD</p>
      <!--
      <a href="https://www.google.com/maps/place/Rattle+N+Hum+East/@40.7474103,-73.9842123,3a,75y,90t/data=!3m8!1e2!3m6!1shttps:%2F%2Fb.zmtcdn.com%2Fdata%2Fpictures%2F2%2F16782302%2F0e51745e438c1bdf38d921a2fad24238.jpg!2e7!3e27!6s%2F%2Flh6.googleusercontent.com%2Fproxy%2F2QICwpoQSc98hhwzu1NDzrMvZhZZMxSIRYPW_FMS8AX6avnoVtPNMM-L_LMLHBCYCgmYQIxQrK0Zg7wHCpGBsizmhaB6bG8wdxI2XDaBDjyrwht7eNXqljtNKzHlts2_YTUqruIzF3s3n64_7TcfMC2WkZGFqg%3Dw137-h86!7i1600!8i1000!4m5!3m4!1s0x89c259a839d48b31:0x3ba74e3e9d452157!8m2!3d40.7473489!4d-73.9842584!6m1!1e1" target="_blank" class="speaker-talk-title">Rattle N Hum East</a>
      -->
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/february-2017.html %}
