<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <a href="https://twitter.com/techevangelista" target="_blank" class="speaker-info">
        <p>Lindsey Dragun</p>
      </a>
      <p class="speaker-sub-info">Tech Evangelist</p>
      <p class="speaker-talk-title">TBA</p>
      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title">Adam J. Sontag</p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/katiegengler" target="_blank" class="speaker-info">
        <p>Katie Gengler</p>
      </a>
      <p class="speaker-sub-info">Web Developer & Ember.js Core Team Member</p>
      <p class="speaker-talk-title">Ember from 2.0 to 3.0 (and beyond)</p>
      <time>8:10pm</time>
    </div>
  </div>


  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/caseywest" target="_blank" class="speaker-info">
        <p>Casey West & Darcy Lyle</p>
      </a>
      <p class="speaker-sub-info">Engineer @ Google Cloud</p>
      <p class="speaker-talk-title">Acroyoga</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://goo.gl/maps/UmwNX8ptHSA2" target="_blank" class="speaker-info">The Malt House FiDi</a>
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/april-2018.html %}
