<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title">TBD</p>
      <time>7:30</time>
    </div>
  </div>
  
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
        <a href="https://twitter.com/am3thyst" target="_blank" class="speaker-info">
          <p>Amy Cheng &raquo; @am3thyst</p>
        </a>
      <p class="speaker-sub-info">Web Developer at the Brooklyn Museum</p>
      <p class="speaker-talk-title">Sewing Techniques for Wearable Electronics</p>
      <time>7:40</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title">TBD</p>
      <time>7:55pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/meyerini" target="_blank" class="speaker-info">
        <p>Sarah Saltrick Meyer &raquo; @meyerini</p>
      </a>
      <p class="speaker-sub-info">Software Engineer at Rent The Runway</p>
      <p class="speaker-talk-title">JavaScript Minus JavaScript</p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Adam J Sontag &amp; Willman Duffy</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/janecakemaster" target="_blank" class="speaker-info">
        <p>Jane Kim &raquo; @janecakemaster</p>
      </a>
      <p class="speaker-sub-info">Front-End Engineer @Baublebar</p>
      <p class="speaker-talk-title">Crafting Mexico</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <p class="speaker-talk-title">Tonight our post event hangout space is <a href="https://www.google.com/maps?ion=1&espv=2&q=toad+hall&bav=on.2,or.r_cp.&biw=1422&bih=778&dpr=1.8&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiZgZ7KnMbKAhVEGD4KHS1fD0cQ_AUIBigB" target="_blank" class="external-link">Toad Hall</a>! See you there.</p>
      <time>9:00pm</time>
    </div>
  </div>
</section>

{% include sponsors/mar-2016.html %}

