<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-sub-info">TBD</p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/ericwilliamlin" target="_blank" class="speaker-info">
        <p>Eric William Lin</p>
      </a>
      <p class="speaker-sub-info">Software Engineer</p>
      <p class="speaker-talk-title">The Developer as Designer</p>

      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <a href="https://twitter.com/ajpiano" target="_blank" class="speaker-info">
        <p>Adam Sontag</p>
      </a>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/oligriffiths" target="_blank" class="speaker-info">
        <p>Oli Griffiths</p>
      </a>
      <p class="speaker-sub-info">Software Engineer</p>
      <p class="speaker-talk-title">Broccoli.js</p>

      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/quymbeechen" target="_blank" class="speaker-info">
        <p>Quymbee Chen</p>
      </a>
      <p class="speaker-sub-info"></p>
      <p class="speaker-talk-title">TBD</p>

      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://www.google.com/maps/place/Corkbuzz/@40.7423569,-74.0079652,17z/data=!3m1!5s0x89c259bf5c13b39f:0x1e54ca82f40db960!4m15!1m9!4m8!1m0!1m6!1m2!1s0x89c259bf42d2cf59:0x9b1a00fde0edd2e9!2sCorkbuzz,+75+9th+Ave,+New+York,+NY+10011!2m2!1d-74.0057765!2d40.7423569!3m4!1s0x89c259bf42d2cf59:0x9b1a00fde0edd2e9!8m2!3d40.7423569!4d-74.0057765" target="_blank" class="speaker-info">
        Corkbuzz
      </a>
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/june-2017.html %}
