<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title"></p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <div class="speaker-info">
        <p>First Speaker: TBA</p>
      </div>

      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title"></p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/arturi" target="_blank" class="speaker-info">
        <p>Artur Paikin</p>
      </a>
      <p class="speaker-sub-info">Makes Web Stuff</p>
      <p class="speaker-talk-title">Uppy</p>
      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/kirjs" target="_blank" class="speaker-info">
        <p>Kirill Cherkashin</p>
      </a>
      <p class="speaker-sub-info">Works on @Firebase</p>
      <p class="speaker-talk-title">Gomoku</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://goo.gl/maps/AAFzZFXWypN2" target="_blank" class="speaker-talk-title">The Malt House FiDi</a>
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/january-2018.html %}
