<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title">Jane Kim</p>
      <time>7:30pm</time>
    </div>
  </div>
  
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
        <a href="https://twitter.com/noahzgordon" target="_blank" class="speaker-info">
          <p>Noah Gordon</p>
        </a>
        <p class="speaker-sub-info">Software Developer @Gustly</p>
      <p class="speaker-talk-title">Elm Gaming</p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title">Nathan Stilwell</p>
      <time>7:55pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/habdelra" target="_blank" class="speaker-info">
        <p>Hassan Abdel-Raman</p>
      </a>
      <p class="speaker-sub-info">Señor Software Engineer @Monegraph</p>
      <p class="speaker-talk-title">Standalone Glimmer</p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Sarah Saltrick Meyer</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/ajpiano" target="_blank" class="speaker-info">
        <p>Adam Sontag</p>
      </a>
      <p class="speaker-sub-info">Director of Community @Bocoup</p>
      <p class="speaker-talk-title">Axi Draw</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="http://flatironlounge.com/#/home/" target="_blank" class="speaker-talk-title">Flatiron Lounge</a>
      <time>9:20pm</time>
    </div>
  </div>
</section>

{% include sponsors/november-2016.html %}


