<section class="speakers">
  <article class="speaker">
    <h2 class="speaker-name">
      <a href="https://twitter.com/mixonic" target="_blank">
        Matthew Beale
      </a>
      <a href="https://twitter.com/bantic" target="_blank" class="speaker-name-twitter">
        &amp; &amp; Cory Forsyth
      </a>
    </h2>
    <h3 class="speaker-sub-info">
      <a href="https://twitter.com/mixonic" target="_blank">
        @mixonic
      </a>
      <a href="https://twitter.com/bantic" target="_blank" class="speaker-name-twitter">
        @bantic
      </a>
    </h3>
    <h3 class="speaker-sub-info">Web Developers at 201 Created</h3>
    <p>What You See Is Not What You Save: An Introduction to Mobiledoc</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/modernserf" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Justin Falcone</h2>
      <h3 class="speaker-sub-info">@modernserf</h3>
    </a>
    <h3 class="speaker-sub-info">Programmer at AD/FIN</h3>
    <p>The Origin of HyperCard in the Breakdown of the Bicycle for the Mind</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/noopkat" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Suz Hinton</h2>
      <h3 class="speaker-sub-info">@noopkat</h3>
    </a>
    <h3 class="speaker-sub-info">Software Developer at Kickstarter</h3>
    <p>In defence of Yaf</p>
  </article>
</section>
