<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/modernserf" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Justin Falcone</h2>
      <h3 class="speaker-sub-info">@modernserf</h3>
    </a>
    <h3 class="speaker-sub-info">Programmer at AD/FIN</h3>
    <p>The Origin of HyperCard in the Breakdown of the Bicycle for the Mind</p>
  </article>

  <article class="speaker">
    <div class="speaker-name-twitter">
      <a href="https://twitter.com/mixonic" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Matthew Beale</h2>
      <h3 class="speaker-sub-info">@mixonic</h3>
    </a>
    <h3 class="speaker-sub-info">Web Developer at 201 Created, Ember.js Core Team</h3>
    <p>What You See Is Not What You Save: An Introduction to Mobiledoc</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/noopkat" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Suz Hinton</h2>
      <h3 class="speaker-sub-info">@noopkat</h3>
    </a>
    <h3 class="speaker-sub-info">Software Developer at Kickstarter</h3>
    <p>In defence of Yaf</p>
  </article>
</section>
