<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-talk-title">Matt Duleone</p>
      <time>7:30</time>
    </div>
  </div>
  
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
        <a href="https://twitter.com/sagnewshreds" target="_blank" class="speaker-info">
          <p>Sam Agnew  &raquo; @sagnewshreds</p>
        </a>
        <p class="speaker-sub-info">Dev Evanglist @Twilio</p>
      <p class="speaker-talk-title">TBD</p>
      <time>7:40</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-talk-title">Adam J. Sontag</p>
      <time>7:55pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/aviflombaum" target="_blank" class="speaker-info">
        <p>Avi Flombaum &raquo; @aviflombaum</p>
      </a>
      <p class="speaker-sub-info">Dean @FlatironSchool</p>
      <p class="speaker-talk-title">Teaching Chemistry through JS</p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">TBD</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/islabell" target="_blank" class="speaker-info">
        <p>Islabell &raquo; @islabell</p>
      </a>
      <p class="speaker-sub-info">Designin @BustleLabs</p>
      <p class="speaker-talk-title">PromptMe</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <p class="speaker-talk-title">TDB</p>
      <time>9:20pm</time>
    </div>
  </div>
</section>

{% include sponsors/july-2016.html %}

