<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-sub-info">TBD</p>
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <a href="https://twitter.com/maciampa" target="_blank" class="speaker-info">
        <p>Matthew Ciampa</p>
      </a>
      <p class="speaker-sub-info">Senior Software Engineer @ Dia & Co.</p>
      <p class="speaker-talk-title">Proxy API</p>
      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-sub-info">TBA</p>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <a href="https://twitter.com/darpa42" target="_blank" class="speaker-info">
        <p>Dan Aprahamian</p>
      </a>
      <p class="speaker-sub-info">Software Engineer @ MongoDB</p>
      <p class="speaker-talk-title">Bitwise Operators</p>
      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <a href="http://www.gosongwise.com/" target="_blank" class="speaker-info">
        <p>Andrea Grody</p>
      </a>
      <p class="speaker-sub-info">Curriculum Designer</p>
      <p class="speaker-talk-title">Song Logic: The Challenge of Teaching Singers to Read Music</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://goo.gl/maps/E36KaWZbzLs" target="_blank" class="speaker-info">The Watering Hole</a>
      <time>9:30pm</time>
    </div>
  </div>
</section>
