<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/tazsingh" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Tasveer Singh</h2>
      <h3 class="speaker-sub-info">@tazsingh</h3>
    </a>
    <h3 class="speaker-sub-info">CTO at HoodQReports</h3>
    <p>Routing Like It's 1999</p>
  </article>

  <article class="speaker">
    <div class="speaker-name-twitter">
      <a href="https://twitter.com/jeresig" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">John Resig</h2>
      <h3 class="speaker-sub-info">@jeresig</h3>
    </a>
    <h3 class="speaker-sub-info">Creator of jQuery</h3>
    <p>TBD</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/dcousineau" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Daniel Cousineau</h2>
      <h3 class="speaker-sub-info">@dcousineau</h3>
    </a>
    <h3 class="speaker-sub-info">Croscon's resident httpster</h3>
    <p>YAFT</p>
  </article>

    <article class="speaker">
    <a href="https://twitter.com/jedschmidt" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Jed Schmidt</h2>
      <h3 class="speaker-sub-info">@jedschmidt</h3>
    </a>
    <h3 class="speaker-sub-info">Framework in the Sheets, Vanilla in the Streets</h3>
    <p>YAFT</p>
  </article>
</section>

