<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/E0M" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Evan Morikawa</h2>
      <h3 class="speaker-sub-info">@E0M</h3>
    </a>
    <h3 class="speaker-sub-info">Application Engineer at Nylas</h3>
    <p>Building better email in the open with Electron/React/Flux</p>
  </article>

  <article class="speaker">
    <div class="speaker-name-twitter">
      <a href="https://twitter.com/jedschmidt" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Jed Schmidt</h2>
      <h3 class="speaker-sub-info">@jedschmidt</h3>
    </a>
    <h3 class="speaker-sub-info">MC Organizer, Formerly of BrooklynJS</h3>
    <p>Declarative Web App Compiler</p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/jamessocol" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">James Socol</h2>
      <h3 class="speaker-sub-info">@jamessocol</h3>
    </a>
    <h3 class="speaker-sub-info">Creator of TodaysMeet</h3>
    <p>PIEfection</p>
  </article>
</section>

