<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-sub-info">Adam J Sontag</p>
      <time>7:25pm</time>
    </div>
  </div>

    <div class="timeline-block">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <a href="https://twitter.com/Una" target="_blank" class="speaker-info">
          <p>Una Kravets</p>
        </a>
        <p class="speaker-sub-info">Director of Product Design @ Bustle</p>
        <p class="speaker-talk-title">Thank U, Next: A Houdini Story</p>
        <time>7:30pm</time>
      </div>
    </div>


  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-sub-info">TBA</p>
      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>
      <div class="timeline-content">
        <a href="https://twitter.com/kwuchu" target="_blank" class="speaker-info">
          <p>Iheanyi Ekechukwu</p>
        </a>
        <p class="speaker-sub-info">Senior Engineer @ Github</p>
        <p class="speaker-talk-title">Distributed Tracing</p>
        <time>8:00pm</time>
      </div>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>


  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <a href="https://twitter.com/twholman" target="_blank" class="speaker-info">
        <p>Tim Holman</p>
      </a>
      <p class="speaker-sub-info">Curious creator. Tinkerer, tuner & tamperer</p>
      <p class="speaker-talk-title">Salt, Fat, Acid, Email</p>
      <time>8:30pm</time>
    </div>
  </div>

  
  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <a href="https://twitter.com/chadhietala" target="_blank" class="speaker-info">
        <p>Chad Hietala</p>
      </a>
      <p class="speaker-sub-info"> Software Engineer @ LinkedIn</p>
      <p class="speaker-talk-title">Pro Paintball</p>
      <time>8:45pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://goo.gl/maps/U2PsNAzs7vo" target="_blank" class="speaker-info">Black Door</a>
      <time>9:15pm</time>
    </div>
  </div>
</section>

{% include sponsors/feb-2019.html %}
