<section class="speakers">

  <article class="speaker">
    <a href="https://twitter.com/cassidoo" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Cassidy Williams</h2>
      <h3 class="speaker-sub-info">@cassidoo</h3>
    </a>
    <h3 class="speaker-sub-info">Software Engineer &amp; Dev Advocate at Venmo</h3>
    <p>TBD</p>
  </article>

  <article class="speaker">
    <div class="speaker-name-twitter">
      <a href="https://twitter.com/stephcd" target="_blank">
        <h2 class="speaker-name">Stephanie Davidson</h2>
      </a>
      <a href="https://twitter.com/tophtucker" target="_blank">
        <h2 class="speaker-name">&amp; Toph Tucker</h2>
      </a>

      <a href="https://twitter.com/stephcd" target="_blank" class="speaker-sub-info">@stephcd</a>
      <a href="https://twitter.com/tophtucker" target="_blank" class="speaker-sub-info">@tophtucker</a>
    </div>
    <h3 class="speaker-sub-info">Illustration, Animation &amp; Graphics at Bloomberg Businessweek
    </h3>
    <p>Building &amp; Producing Bloomberg Businessweek's
    <a href="http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/" target="_blank" class="speaker-talk-link">What Is Code?</a></p>
  </article>

  <article class="speaker">
    <a href="https://twitter.com/kosamari" target="_blank" class="speaker-name-twitter">
      <h2 class="speaker-name">Mariko Kosmari</h2>
      <h3 class="speaker-sub-info">@kosamari</h3>
    </a>
    <h3 class="speaker-sub-info">Knitting some Javascript at Scripto, Co-organizer BrooklynJS</h3>
    <p>Unicode</p>
  </article>
</section>
