<section id="timeline" class="container">
  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Food && Drinks</p>
      <time>7:00pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Introductions</p>
      <time>7:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round I</p>
      <p class="speaker-info">TBD</p>
      <!-- <a href="https://twitter.com/ajpiano" target="_blank" class="speaker-info">
        <p>Adam Sontag</p>
      </a> -->
      <time>7:40pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
        <a href="https://twitter.com/dustinfarris" target="_blank" class="speaker-info">
          <p>Dustin Farris</p>
        </a>
        <p class="speaker-sub-info">Software Engineer</p>
      <p class="speaker-talk-title">Ember-Redux</p>

      <time>7:50pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round II</p>
      <p class="speaker-info">TBD</p>
      <a href="https://twitter.com/ajpiano" target="_blank" class="speaker-info">
        <p>Adam Sontag</p>
      </a>
      <time>8:05pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">

      <a href="https://twitter.com/mapmeld" target="_blank" class="speaker-info">
        <p>Nick Dorion</p>
      </a>
      <p class="speaker-sub-info">Open Source Developer</p>
      <p class="speaker-talk-title">Arabic Unicode and Calligraphy</p>

      <time>8:10pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Battledecks</p>
      <p class="speaker-sub-info">Round III</p>
      <p class="speaker-talk-title">Audience Member...</p>
      <time>8:20pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <a href="https://twitter.com/OhMyFoote" target="_blank" class="speaker-info">
        <p>Alyssa Foote</p>
      </a>
      <p class="speaker-sub-info">Designer @Bustle</p>

      <a href="https://twitter.com/thebabyshakes" target="_blank" class="speaker-info">
        <p>Mary Blount</p>
      </a>
      <p class="speaker-sub-info">Designer @Bustle</p>
      <p class="speaker-talk-title">Who Be The Goobi?</p>
      <time>8:30pm</time>
    </div>
  </div>

  <div class="timeline-block">
    <span class="timeline-dot"></span>

    <div class="timeline-content">
      <p class="event-info-headline">Closing + Afterparty</p>
      <p class="speaker-sub-info">Post Event Shenanigans</p>
      <a href="https://www.google.com/maps/place/The+Malt+House+FiDi/@40.709635,-74.0114941,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25a182b69824f:0xada7e9f261b0c126!8m2!3d40.709635!4d-74.0093054" target="_blank" class="speaker-info">
        The Malt House FiDi
      </a>
      <time>9:30pm</time>
    </div>
  </div>
</section>

{% include sponsors/march-2017.html %}
