<footer class="footer-container">
  <div class="wrapper">
    <p class="footer-credits">
      Brought to you by <a href="https://twitter.com/zeejab" target="_blank">@zeejab</a> && <a href="https://twitter.com/copasetickid" target="_blank">@copasetickid</a> && <a href="https://twitter.com/brendamarienyc" target="_blank">@brendamarienyc</a>
      <br>{{ site.title }} expects all speakers and attendees to follow the <a href="http://jsconf.com/codeofconduct.html">JSConf code of conduct</a>.
    </p>
    <p class="pizza-disclaimer">* Sorry, at this time we are not able to accommodate special dietary restrictions.</p>
  </div>
</footer>
