<footer class="footer-container flex-container">
  <div class="wrapper">
    <p class="footer-credits">
      {{ site.title }} was founded by <a href="https://twitter.com/zeejab" target="_blank">@zeejab</a>, <a href="https://twitter.com/copasetickid" target="_blank">@copasetickid</a>, and <a href="https://twitter.com/brendamarienyc" target="_blank">@brendamarienyc</a> in Feb 2014 as part of the NYC BoroJS family of meetups. <br>It is currently being organized by <a href="https://twitter.com/zeejab" target="_blank">@zeejab</a>, <a href="https://twitter.com/copasetickid" target="_blank">@copasetickid</a>, and <a href="https://twitter.com/hipsterbrown" target="_blank">@hipsterbrown</a>.
      <br><br>{{ site.title }} expects all speakers and attendees to follow the <a href="http://jsconf.com/codeofconduct.html">JSConf code of conduct</a>.
    </p>
    <p class="pizza-disclaimer">* Sorry, at this time we are not able to accommodate special dietary restrictions.</p>
  </div>
</footer>
