<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/reconbot" target="_blank">
      <h2 class="speaker-name">Francis Gulotta</h2>
      CEO of Wizard Development<br>
      @reconbot
    </a>
    <p>Baking your Sass</p>
  </article>
  <article class="speaker">
    <a href="https://twitter.com/johnnyaboh" target="_blank">
      <h2 class="speaker-name">Giovanni Cappelotto</h2>
      Developer at SumAll<br>
      @johnnyaboh
    </a>
    <p>Text Adventures from Gists</p>
  </article>
  <article class="speaker">
    <a href="https://twitter.com/tyleralove" target="_blank">
      <h2 class="speaker-name">Tyler Love</h2>
      CTO at Bustle<br>
      @tyleralove
    </a>
    <p>Synthesizers</p>
  </article>
</section>
