<div class="birthday"></div>
<p class="birthday-announcement">We're having a special event!</p>
<p class="birthday-announcement">Join us for TC39 Panel at LinkedIn starting at 7pm!!</p>
<p class="birthday-announcement">TC39 is the technical committee for the ECMAScript language, the basis for JavaScript.</p>
<hr>
<p class="birthday-announcement">LinkedIn is located in the Empire State Building.</p>
<p class="birthday-announcement">Please head up to the twenty second floor after getting a tag from security.</p>
<p class="birthday-announcement">See you there!</p>
<hr>

