@import "variables";

.about {
	position: relative;
	background-color: $white;
  color: $dark-gray;
  margin-bottom: 0;
	padding: 100px 200px;
	line-height: 1.8em;
	font-size: 1.15em;

  h1 {
  	margin-bottom: 1em;
  	color: $red;
  }

  .borojs {
  	color: $light-gray;
  	
	  &:hover {
	    color: $hover-red;
	  }
  }

  .sponsorship {
  	margin: 50px auto 0 auto;
    text-align: center;
    background-color: $red;
    padding: 25px;
    font-size: .95em;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    width: 350px;
  	text-shadow: 0 2px 2px rgba(0, 0, 0, .25);


    &:hover {
    	background-color: $hover-red;
    	transition: background-color .2s linear;
    }
  }

  @include breakpoint(medium) {
  	padding: 50px;
  }
}
