.birthday {
  height: 200px;
  background: url('../assets/images/birthday-cupcake.png') no-repeat center center #fff;
  background-size: contain;
  margin-top: -50px;
  margin-bottom: 20px;
}

.birthday-announcement {
  text-align: center;
  text-transform: uppercase;
}

hr {
  margin: 50px 250px;
}