@import "variables";

.footer-container {
  padding: 70px 20px 50px 20px;
  text-align: center;
  font-size: 1em;
  background-color: $dark-gray;
  color: $white;
  line-height: 1.5em;
  width: 100%;

  a {
    color: $light-blue;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }

  .pizza-disclaimer {
    text-transform: none;
  }
}
