@import "variables";

.footer-container {
  background-color: $dark-blue;
  bottom: 0px;
  color: $footer-copy;
  font-size: .8em;
  left: 0px;
  line-height: 1.5em;
  overflow: hidden;
  position: relative;
  width: 100%;

  a {
    color: $footer-copy;
    text-decoration: underline;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
}
