@import "variables";

body {
  background-color: $medium-blue;
  position: relative;

  @include breakpoint(medium) {
    background-image: none;
  }
}

.small-logo {
  display: none;

  @include breakpoint(medium) {
    display: inline;
    margin-right: 4px;
  }
}

.clouds {
  position: absolute;
  right: 400px;
  top: 20px;

  @include breakpoint(medium) {
    display: none;
  }

  img {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .cloud-1 {
    height: 120px;
    top: 0;
    left: 0;
  }

  .cloud-2 {
    height: 100px;
    margin-left: -100px;
    top: 130px;
    left: 0;
  }
}

.chrysler-building {
  position: absolute;
  top: 0;
  right: 40px;
  width: 190px;
  height: auto;
  z-index: 10;

  @include breakpoint(medium) {
    display: none;
  }
}

.wordmark {
  display: inline-block;
  position: relative;
  top: 16px;
  width: 215px;
  height: auto;

  @include breakpoint(medium) {
    margin-left: 10px;
    width: 163px;
  }
}

.main-container {
  min-height: 940px;
}

::-moz-selection {
  background: $light-blue;
  text-shadow: none;
}

::selection {
  background: $light-blue;
  text-shadow: none;
}

hr {
  border: 0;
  border-top: 1px solid $white;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.wrapper {
  margin: 0 5%;
  width: 90%;
}

.wrapper {
  padding: 30px 0;

  section {
    color: $white;
    width: 75%;

    @include breakpoint(medium) {
      width: 100%;
    }
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
