@import "variables";

.small-logo {
  display: none;

  @include breakpoint(medium) {
    display: inline;
    margin-right: 4px;
  }

}

// General Styles
::-moz-selection {
  background: $light-blue;
  text-shadow: none;
}

::selection {
  background: $light-blue;
  text-shadow: none;
}

body, html {
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", arial;
  transform-style: preserve-3d;
  transform: perspective(800px);
  position: relative;
  background: #3CA0B8;
  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  transition: color .2s linear;
}

p {
  margin-top: 0;
}

img, embed, object, video, svg {
  max-width: 100%;
}


// Custom Styles
.flex-container {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-background {
  background: -moz-linear-gradient(-45deg, #B1DCE5 20%, #A8D900 20%, #A8D900 80%, #3CA0B8 80%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(20%, #B1DCE5), color-stop(20%, #A8D900), color-stop(80%, #A8D900), color-stop(80%, #3CA0B8));
  background: -webkit-linear-gradient(-45deg, #B1DCE5 20%, #A8D900 20%, #A8D900 80%, #3CA0B8 80%);
  background: -o-linear-gradient(-45deg, #B1DCE5 20%, #A8D900 20%, #A8D900 80%, #3CA0B8 80%);
  background: -ms-linear-gradient(-45deg, #B1DCE5 20%, #A8D900 20%, #A8D900 80%, #3CA0B8 80%);
  background: linear-gradient(135deg, #B1DCE5 20%, #A8D900 20%, #A8D900 80%, #3CA0B8 80%);
}

.birthday {
  background: url('../assets/images/birthday-cupcake.png') no-repeat left center #fff;
}

.card {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 750px;
  height: 500px;
  background: url('../assets/images/manhattanjs-logo.png') no-repeat left center #fff;
  background-size: 300px;
  color: #8d9296;
  box-shadow: 0 37px 35px rgba(0,0,0, .3);
}

.wrapper {
  min-width: 450px;
  position: relative;
}

.top {
  padding: 57px 50px 65px 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-blue;
  }

  .event-date {
    background-color: $light-blue;
    padding: 20px 28px;
    border-radius: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    b {
      line-height: 1;
      color: $red;
      font-size: 36px;
    }
  }
}

.ticket-footer {
  margin-top: 20px;

  .event-host {
    color: #8d9296;
  }
  p {
    margin: 0;
    line-height: 1;

    &:first-of-type {
      color: $dark-gray;
      margin-bottom: 5px;
    }
  }
}

.counter {
  margin-top: 60px;
  p {
    margin-bottom: 15px;
  }
}

ul#countdown {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    flex: 0 0 55px;
    text-transform: uppercase;
    position: relative;
    border: 1px solid #e1e1e1;
    text-align: center;
    &:not(:first-of-type)  {
      margin-left: 40px;
    }
    span {
      width: 100%;
      font-size: 26px;
      color: $dark-gray;
      opacity: .6;
      padding: 5px 0;
      display: block;
    }
    p {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;
      text-align: center;
      font-size: 10px;
    }
    &:first-of-type {
      span {
        opacity: 1;
      }
    }
  }
}

.purchase, 
.disabled {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  padding: 0;
  outline: 0;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  color: #fff;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, .1); 
}

.purchase {
  background-color: $red;
  
  &:hover {
    background-color: $hover-red;
    transition: background-color .2s linear;
  }
}

.disabled {
  background-color: $dark-gray;
  cursor: default;
}
