@import "variables";

.speakers {
  margin-top: 20px;

  @include breakpoint(small) {
    .speakers {
      margin: 40px 0;
    }
  }
}

.speaker {
  display: inline-block;
  margin-bottom: 1%;
  margin-right: 2%;
  vertical-align: top;
  width: 47%;

  @include breakpoint(large) {
    display: block;
    width: 100%;
  }

  @include breakpoint(medium) {
    display: inline-block;
    width: 47%;
  }

  @include breakpoint(small) {
    display: block;
    width: 100%;
  }

  .speaker-sub-info {
    font-family: $header-font;
    font-size: 1rem;
    margin: 0;
  }

  .speaker-sub-twitter {
    display: inline-block;
    font-family: $header-font;
    font-size: 1rem;
    margin: 0 0.5rem;
  }

  .speaker-talk-title {
    font-size: 1.5em;
    font-family: monospace;
    margin-top: 0.35em;
  }

  .speaker-name-twitter {
    display: inline-block;
    margin-bottom: 10px;
  }

  .speaker-talk-link {
    text-decoration: underline;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
}

.next-event {
  @extend %clear-chrysler;
  margin: 5em 0;

  h1 {
    font-family: $header-font;
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  @include breakpoint(medium) {
    margin-top: 2em;
    margin-bottom: 0;
  }
}

.location {
  margin-right: 10px;
}

.location-link {
  text-transform: uppercase;
  font-size: .42em;
  letter-spacing: .01em;
}

.location-icon {
  width: 10px;
  height: auto;
  position: relative;
  top: 3px;
  left: 2px;
}

.charity-copy {
  color: $white;
  font-size: 12px;
  margin: 0;
}

.time,
.tickets-link {
  background: $red;
  border-bottom: solid 4px darken($red, 25%);
  border-radius: 8px;
  color: $white;
  font-family: $header-font;
  font-size: 1.8em;
  font-weight: bold;
  padding: 0.5em 1em;

  &:hover {
    background: darken($red, 10%);
    cursor: pointer;
  }

  &:active {
    border-bottom-width: 0px;
    transform: translateY(4px);
    transition: all 0.10s;
  }
}

.tickets-link-container {
  margin: 6em 0 1em;

  @include breakpoint(medium) {
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-bottom: 3em;
  }
}

a.tickets-link:hover {
  color: $red;
}

.sold-out-copy {
  color: $white;
  display: block;
  margin-top: 1.5rem;

  a {
    color: $light-blue;

    &:hover {
      color: $red;
    }
  }
}

.speaker-name {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.time {
  margin-bottom: -10px;
}
