@import "variables";

.white {
  color: white;
}

.underline {
  text-decoration: underline;
}

.external-link {
  color: $red;

  &:hover {
    color: $dark-blue;
  }
}

.speaker-info, 
.event-info-headline {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 5px;

  span { 
    font-weight: 700; 
  }
}

.event-info-headline {
  color: $dark-gray;
}

.speaker-info {
  color: $red;
  p {
    margin-bottom: 5px;
    font-weight: 700;
  }

  &:hover {
    color: $light-gray;
  }
}

.speaker-sub-info {
  color: $light-gray;
  font-size: 1.2em;
}

.speaker-talk-title {
  color: $dark-gray;
  font-size: 1.2em;
  margin-top: 15px;
}

.next-event {
  color: $white;
  margin: 3em 0;

  h1 {
    font-family: $header-font;
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.location {
  margin-right: 10px;
  color: #8d9296;
}

.location-link {
  text-transform: uppercase;
  font-size: .42em;
  letter-spacing: .01em;
  color: #8d9296;
}

.location-icon {
  width: 10px;
  height: auto;
  position: relative;
  top: 3px;
  left: 2px;
  fill: #8d9296;
}

.charity-copy {
  color: $white;
  font-size: 12px;
  margin: 0;
}

.time,
.tickets-link {
  color: $light-blue;
  font-family: $header-font;
  font-size: 1.8em;
  font-weight: bold;
}

.tickets-link-container {
  margin: 3em 0;

  @include breakpoint(medium) {
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-bottom: 3em;
  }
}

a.tickets-link:hover {
  color: $red;
}

.sold-out-copy {
  color: $white;
  font-size: 1em;
  text-transform: none;

  a {
    color: $light-blue;

    &:hover {
      color: $red;
    }
  }
}

.speaker-name {
  margin-top: 0;
  margin-bottom: 0;
}

.time {
  margin-bottom: -10px;
}
