@import "variables";

.sponsors-container {
  @extend %clear-chrysler;
}

.email {
  color: $light-blue;
}

.text-link-blue {
  color: $light-blue;
  font-family: $header-font;
  font-weight: bold;
}

.sponsorship-pricing {
  padding-left: 0px;

  li {
    display: inline-block;
    text-align: center;
    width: 100px;
  }

  small { font-size: 100%; }

  strong { font-size: 200%; }
}

.sponsorship-container {
  @extend %clear-chrysler;
  color: $white;
  margin: 3em 0;

  h1 {
    font-family: $header-font;
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}
