.sponsorship-container {
  color: white;
  font-size: 1.5rem;
  margin: 3em auto;
  max-width: 700px;
  padding: 0 1em 2em;

  h1 {
    font-family: $header-font;
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  p a {
    color: #B1DCE5;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sponsorship-heading {
  margin: 2em 0 1em;
}

.sponsorship-pricing {
  padding-left: 0px;
  margin: 0 auto;
  margin-bottom: 1.25em;
  width: 700px;
  text-align: center;
}

.sponsorship-pricing-item {
  display: inline-block;
  margin: 0 0.75em;
  text-align: center;
  background: #A8D900;
  padding: 20px 0px;
  border-radius: 3px;
  width: 145px;

  @include breakpoint(small) {
    display: block;
    margin: 1em 0.75em;
    width: 300px;
  }
}

.sponsorship-price {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0.25em auto;
  color: #3CA0B8;
}
