// Colors
$medium-blue: #485367;
$red: #e33e57;
$hover-red: #B5293E;
$pink: #f6c2c2;
$pink: #FFCDE2;
$light-blue: #c7e6d7;
$cyan: #b9edf3;
$white: #fff;
$dark-blue: #58667a;
$footer-copy: #7385a0;
$dark-gray: #697079;
$light-gray: #A8ACB2;

// Fonts
$header-font: 'Raleway', helvetica, sans-serif;
$body-font: 'Quattrocento', georgia, serif;

// Media Queries
@mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 770px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 600px)  { @content; }
  }
}
