<article class="speakers">
  <section class="speaker">
    <a href="https://twitter.com/machty" target="_blank">
      <h2 class="speaker-name">Be A Speaker</h2>
      Express Checkout, Ember.js Core Team<br>
      @machty
    </a>
    <p>How I learned to stop worrying and love the URL</p>
  </section>
  <section class="speaker">
    <a href="https://twitter.com/aidanfeldman" target="_blank">
      <h2 class="speaker-name">Be A Speaker</h2>
      Hacker @GitHubEducation, Faculty @NYUSCPS, Dancer<br>
      @aidanfeldman
    </a>
    <p>Movement Structures: An Intro to Improvisation</p>
  </section>
  <section class="speaker">
    <a href="https://twitter.com/tiffehr" target="_blank">
      <h2 class="speaker-name">Tiff Fehr</h2>
      Interactive Developer, New York Times<br>
      @tiffehr
    </a>
    <p>Unlearning</p>
  </section>
</article>