<article class="speakers">
  <section class="speaker">
    <a href="http://www.prototypal.io/" target="_blank">
      <h2 class="speaker-name">Erik Bryn</h2>
      Founder at Prototypal, Ember.js core team<br>
      @ebryn
    </a>
    <p>Yesterday&rsquo;s technology tomorrow</p>
  </section>
  <section class="speaker">
    <a href="https://twitter.com/larrybuch" target="_blank">
      <h2 class="speaker-name">Larry Buchanan</h2>
      Designer/Journalist/Coder at The New Yorker/Graphics @nytimes<br>
      @larrybuch
    </a>
    <p>TBD</p>
  </section>
  <section class="speaker">
    <a href="https://twitter.com/alexqin" target="_blank">
      <h2 class="speaker-name">Alex Qin</h2>
      Coder at Bloglovin<br>
      @alexqin
    </a>
    <p>To semicolon or not to semicolon?</p>
  </section>
</article>
