<section class="speakers">
  <article class="speaker">
    <a href="https://twitter.com/sarajchipps" target="_blank">
      <h2 class="speaker-name">Sara J Chipps</h2>
      Making Jewliebots<br>
      @sarajchipps
    </a>
    <p>So You Want to Build a Hardware Company &amp; You're a Software Engineer?</p>
  </article>
  <article class="speaker">
    <a href="https://twitter.com/tomdale" target="_blank">
      <h2 class="speaker-name">Tom Dale</h2>
      Co-founder of Tilde, Ember Core Team<br>
      @tomdale
    </a>
    <p>Ember Two Point Oh</p>
  </article>
  <article class="speaker">
    <a href="https://twitter.com/sebarmeli" target="_blank">
      <h2 class="speaker-name">Sebastiano Armeli</h2>
      Software Engineer at Spotify<br>
      @sebarmeli
    </a>
    <p>Enforcing Coding Standards</p>
  </article>
</section>
